ng-radio-group{}
ng-radio-group ul{
	padding: 0;
	list-style: none;
}
ng-radio-group.vertical ul{
	
}

ng-radio-group ul li{ 
	position: relative;
	cursor: pointer;
	height: 55px;
	display: inline-block;
	width: 49%;
}
ng-radio-group.vertical ul li{ 
	display: block;
	width: 100%;
}

ng-radio-group ul li i.outer{
	position: absolute;
	left: 0;
	top: 5px;
	display: block;
	width: 22px;
	height: 22px;
	border-radius: 11px;
	border: 1px solid rgb(0,0,0);
} 
ng-radio-group ul li i.inner{
	position: absolute;
	left: 3px;
	top: 8px;
	display: block;
	width: 16px;
	height: 16px;
	border-radius: 8px;
	background-color: rgb(17,160,217);
} 
ng-radio-group ul li span{
	position: absolute;
	left: 30px;
	top: 4px;
    font-size: 18px;
    width: 90%;
} 