@keyframes seq-preloader {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.seq-preloader {
    background: #414141; /* Old browsers */
    background: -moz-linear-gradient(top,  #414141 0%, #191919 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #414141 0%,#191919 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #414141 0%,#191919 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414141', endColorstr='#191919',GradientType=0 ); /* IE6-9 */
    position: relative;
    visibility: visible;
    opacity: 1;
    position: absolute;
    z-index: 9999;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.seq-preloader.seq-preloaded {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s .5s, opacity .5s;
}

.seq-preload-indicator {
    overflow: visible;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.seq-preload-circle {
    display: inline-block;
    height: 12px;
    width: 12px;
    fill: #fff;
    opacity: 0;
    animation: seq-preloader 1.25s infinite;
}

.seq-preload-circle-2 {
    animation-delay: .15s;
}

.seq-preload-circle-3 {
    animation-delay: .3s;
}

.seq-preload-indicator-fallback {
    width: 42px;
    overflow: visible;
}

.seq-preload-indicator-fallback .seq-preload-circle {
    width: 8px;
    height: 8px;
    background-color: #337ab7;
    border-radius: 100%;
    opacity: 1;
    display: inline-block;
    vertical-align: middle;
}

.seq-preload-indicator-fallback .seq-preload-circle-2 {
    margin-left: 3px;
    margin-right: 3px;
    width: 12px;
    height: 12px;
}

.seq-preload-indicator-fallback .seq-preload-circle-3 {
    width: 16px;
    height: 16px;
}