body{
	font-family: 'ARIAL';
	color: rgb(0,0,0);
	padding: 0;
	margin: 0;


}
section{
	display: table;
	width: 100%;
	text-align: center;
	height: 100vh;
	background-color: rgb(38,123,213);
	background-image: linear-gradient( rgb(38,123,213), rgb(33,237,166));
}
.wrapper{
	display: table-cell;
	vertical-align: middle;
}
h1{
	font-size: 100px;
}