<ng-header titulo="Resumen de encuesta" back="true"></ng-header>
<main style="padding-top: 20px;">
    <div class="container-fluid content-footer">
        <div class="row">
            <div class="col-md-12">
            
                <div class="form-group">
                    <div ng-placeholder class="textbox" ng-model="id">
                        <label>ID</label>
                        <input type="text" ng-model="id" maxlength="6">
                        <i></i>
                    </div>
                </div>
                <div class="form-group">
                    <div ng-placeholder class="textbox" ng-model="attuid">
                        <label>ATTUID</label>
                        <input type="text" ng-model="attuid" maxlength="6">
                        <i></i>
                    </div>
                </div>
                <div class="form-group">
                    <div ng-placeholder class="textbox" ng-model="nombre">
                        <label>Nombre</label>
                        <input type="text" ng-model="nombre">
                        <i></i>
                    </div>
                </div>
                
            </div>

        </div>
    </div>
    <button type="button" class="button-blue" ng-click="contestar()">CONTESTAR</button>
</main>

<ng-alert-error visible="muestraAlerta" titulo="Descartar encuesta" cuerpo="¿Deseas descartar esta encuesta?" aceptar="aceptaAlerta" cancelar="cancelaAlerta"></ng-alert-error>