<ng-header titulo="Resumen de encuesta" back="true"></ng-header>
<main style="padding-top: 20px;">
    <div class="container-fluid content-footer">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <h1 class="titulo-encuesta">{{encuesta.titulo}}</h1>
                </div>
                <div class="form-group">
                    <h4 class="content-encuesta">{{encuesta.descripcion}}</h4>
                </div>
                <div class="form-group">
                    <h4 class="content-encuesta">Autor: {{encuesta.autor}}</h4>
                </div>
                <div class="form-group">
                    <h4 class="content-encuesta">Dirección: {{encuesta.direccion.name}}</h4>
                </div>
                <div class="form-group">
                    <h4 class="content-encuesta">Vigencia: {{encuesta.date | date:'dd/MMM'}} - {{encuesta.valides | date:'dd/MMM'}}</h4>
                </div>
                <div class="form-group">
                    <h4 class="content-encuesta">Duración: {{encuesta.tiempo / 60}} Minutos</h4>
                </div>

                <span ng-show="encuesta.tipoEncuesta.id === 3">

                    
                    <div class="form-group">
                        <div ng-placeholder class="textbox" ng-model="encuesta.attuid">
                            <label>ATTUID</label>
                            <input type="text" ng-model="encuesta.attuid" maxlength="6">
                            <i></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div ng-placeholder class="textbox" ng-model="encuesta.nombre">
                            <label>Nombre</label>
                            <input type="text" ng-model="encuesta.nombre">
                            <i></i>
                        </div>
                    </div>
                </span>
                       

                
            </div>

        </div>
    </div>
    <button type="button" class="button-blue" ng-click="contestar()">CONTESTAR</button>
</main>

<ng-alert-error visible="muestraAlerta" titulo="Descartar encuesta" cuerpo="¿Deseas descartar esta encuesta?" aceptar="aceptaAlerta" cancelar="cancelaAlerta"></ng-alert-error>