<ng-header titulo="Resumen de {{tipo}}" back="true"></ng-header>
<main style="padding-top: 20px;">
    <div class="container-fluid content-footer">
        <div class="row">
            <div class="col-md-12" style="padding-bottom: 30px;">
                <div class="form-group">
                    <h1 class="titulo-encuesta" style="font-size: 28px;">{{encuesta.titulo}}</h1>
                </div>
                <div class="form-group">
                    <h4 class="content-encuesta">{{encuesta.descripcion}}</h4>
                </div>
                <div class="form-group">
                    <h4 class="content-encuesta">Autor: <b>{{encuesta.autor}}</b></h4>
                </div>
                <div class="form-group">
                    <h4 class="content-encuesta">Dirección: <b>{{encuesta.direccion.name}}</b></h4>
                </div>

                <div class="form-group" ng-hide="encuesta.vigenciaInicio">
                    <h4 class="content-encuesta">Vigencia de: <b>{{encuesta.date | date:'dd-MMM-yyyy h:mm a +0500'}}</b></h4>
                </div>

                <div class="form-group" ng-show="encuesta.vigenciaInicio">
                    <h4 class="content-encuesta">Vigencia de: <b>{{encuesta.vigenciaInicio | date:'dd-MMM-yyyy h:mm a'}}</b></h4>
                </div>
                <div class="form-group">
                    <h4 class="content-encuesta">Vigencia hasta: <b>{{encuesta.valides | date:'dd-MMM-yyyy h:mm a'}}</b></h4>
                </div>
                
                <div class="form-group">
                    <h4 class="content-encuesta">Duración: <b>{{encuesta.tiempo / 60}}</b> Minutos</h4>
                </div>

                <span ng-show="encuesta.tipoEncuesta.id === 3">

                    
                    <div class="form-group">
                        <div ng-placeholder class="textbox" ng-model="encuesta.attuid">
                            <label>ATTUID</label>
                            <input type="text" ng-model="encuesta.attuid" maxlength="6">
                            <i></i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div ng-placeholder class="textbox" ng-model="encuesta.nombre">
                            <label>Nombre</label>
                            <input type="text" ng-model="encuesta.nombre">
                            <i></i>
                        </div>
                    </div>
                </span>
                       

                
            </div>

        </div>
    </div>
    <button type="button" class="button-blue" ng-click="contestar()">CONTESTAR</button>
</main>

<ng-alert-error visible="muestraAlerta" titulo="Descartar encuesta" cuerpo="¿Deseas descartar esta encuesta?" aceptar="aceptaAlerta" cancelar="cancelaAlerta"></ng-alert-error>