<header>
    <div class="back" ng-click="backAction()"></div>
    <span>{{titulo}}</span>
    <span class="count">{{index+1}} de {{total}}</span>
</header>
<main style="padding-top: 20px;" ng-class="{'animation-left':animationLeft}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="form-group" style="height: 80px;">
                        <label class="titulo-pregunta" style="text-align: center;    display: block;">{{pregunta.pregunta}}</label>

                    </div>
                    <div class="form-group">
                        <ul class="satisfaccion-group">
                            <li ng-repeat="respuesta in pregunta.respuestas" ng-click="siguiente(respuesta);" ng-class="respuesta.img">
                                <i class="ico-satisfaccion"></i>
                                <span>{{respuesta.name}}</span>
                                <div ng-show="respuesta.select"></div>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

        </div>
    </div>
</main>