
@font-face {
    font-family: manrope_bold;
    src: url(../fonts/manrope_bold.otf);
}
@font-face {
    font-family: manrope_regular;
    src: url(../fonts/manrope_regular.otf);
}
@font-face {
    font-family: manrope_light;
    src: url(../fonts/manrope_light.otf);
}


body{
    font-family: 'manrope_light', Arial;
    font-size: 16px;
    color: rgb(74,74,74);
    letter-spacing: .5px;
}
b{
    font-family: 'manrope_bold', Arial;
    font-weight: 400;
}
h1{
    font-size: 48px;
    text-align: center;
}
h2{
    font-size: 32px;
    font-weight: normal;
    text-align: center;

}
h3{
    font-size: 22px;
    font-weight: normal;
    font-family: 'manrope_regular', Arial;
}


ul{
list-style: none;
margin: 0;
padding: 0;
}
li{
display: inline-block;
}
a{
    color: rgb(74,74,74);
}
header{
    height: 80px;
    box-shadow:  0 2px 10px rgba(0,0,0,.2);
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    z-index: 21;
    background-color: rgba(255,255,255,.9);
}
nav{
    height: inherit;
    position: relative;
    max-width: 1500px;
    margin-left: 20px;
    margin-right: 20px;
}
nav ul{
display: table;
height: inherit;
}
nav ul a{
display: table-cell;
vertical-align: middle;
padding: 20px;
cursor: pointer;
}

nav ul a.logo-color{
    padding: 0;
    margin: 0;
}
nav ul a.logo-title{
    padding-left: 0;
}
nav ul a.logo-color i{
    background-image: url(../img/curvaCCP.svg);
    display: block;
    width: 70px;
    height: 70px;
    margin: 4px;
    background-repeat: no-repeat;
}
nav ul a i{
    font-size: 1.2em;
    margin: 10px;
}
nav ul a:hover{
    color: rgb(81,18,111);
}
nav ul a.c-purple:hover{
    color: rgba(81,18,111,.8);
}
nav ul.a-center{
    width: auto;
    margin: auto;
}
nav ul.a-left{
    position: absolute;
    left: 0;
    top:0;

}
nav ul.a-right{
    position: absolute;
    right: 0;
    top:0;
}

.c-purple{
    color: rgb(81,18,111);
}
section{
    
}

section.home{
    height: 100vh;
    overflow: hidden;
}

.img-slide{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: bottom;
}

.carousel-dots {
    bottom: 20px!important;
    z-index: 20;
}
.carousel-dots li button:before {
    color: white!important;
}


.grid-3 {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 30px;
    max-width: 1500px;
  }
.grid-item{
    margin: 3%;
    grid-row: 1;
  }
.card{
    width: 100%;
    height: auto;
    min-height: 100px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,.5);   
    overflow: hidden;
    cursor: pointer;
    position: relative;
}
.card:hover{
    box-shadow: 0 2px 6px rgba(0,0,0,.5);
}
.card .img{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
}
.card .info{
    padding: 0px 16px;
}
.card .info button{
    border: none;
    color: rgb(81,18,111);
    background-color: transparent;
    font-family: 'manrope_regular', Arial;
    cursor: pointer;
    margin: 16px 0;
    padding: 0;
}
.hover-link{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 250px;
    background-color: rgba(81,18,111,.8);
    opacity: 0;
    display: table;
    text-align: center;
    color: rgba(255,255,255,.7);
    width: 100%;
    font-family: 'manrope_regular', Arial;
    transition: .3s;
}
.hover-link span{
    display: table-cell;
    vertical-align: middle;
}
.card:hover .hover-link{
    opacity: 1;
    transition: .3s;
}

ui-carousel{
    box-shadow: 0 1px 3px rgba(0,0,0,.5);   
}