.alert {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #252525;
    color: white;
    text-align: center;
    z-index: 100;
}

.alert > .alert-text {
    width: 80%;
    margin: 250px auto 50px auto;
    color: white;
    font-size: 24px;
}

.alert > .alert-button {
    height: 50px;
    line-height: 50px;
    border: 1px solid #3AACDE;
    width: 90%;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    left: 5%;
    letter-spacing: 3px;
    font-size: 20px;
    /* font-family: 'Omnes W'; */
}