<header ng-class="{up:scrollDown}">
	<span   class="header-home" ng-click="scrollTo('home')"><i></i> <span class="fm-regular">Avalúos & Arquitectos</span></span>
	<nav>
		<ul>
			<a ng-click="scrollTo('nosotros')"> <li>NOSOTROS</li></a>
			<a ng-click="scrollTo('services')"> <li>SERVICIOS</li></a>
			<a ng-click="scrollTo('contacto')"> <li>CONTACTO</li></a>
			<li class="phone"><b>
				<a href="tel:5529425752"><i class="fas fa-phone-volume"></i> <span>(55) 2942 5752</span></a></b>
			</li>          
		</ul>
	</nav>
	<div class="menu-mobile" ng-class="{show: menuShow}">
		<i class="fas fa-bars c-blue bar fa-lg" ng-click="showMenu()"></i>
		<i class="fas fa-times c-blue ex fa-lg" ng-click="hideMenu()"></i>

		<ul>
			<a ng-click="scrollTo('nosotros')"  ng-click="hideMenu()"> <li><b>NOSOTROS</b></li></a>
			<a ng-click="scrollTo('services')"  ng-click="hideMenu()"> <li><b>SERVICIOS</b></li></a>
			<a ng-click="scrollTo('contacto')"  ng-click="hideMenu()"> <li><b>CONTACTO</b></li></a>
			<li class="phone"><b>
				<a href="tel:5529425752"><span>(55) 2942 5752</span></a></b>
			</li>
		</ul>
	</div>
</header>

<!-- <canvas class="background"></canvas> -->
<div id="particles-js" class="background"></div>


<div class="parallax bg1" id="home">

		<div class="card-home">
				<h1 
				style="-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;" 
				unselectable="on"
				onselectstart="return false;" 
				onmousedown="return false;">Avalúos & Arquitectos</h1>
				<!-- <p>
					Avalúos, Gestiones Inmobiliarias & Proyectos Arquitectónicos
				</p> -->
			</div>
			<div class="card-home mobile">
				<h1>	
					Avalúos <br>
					& <br>
					Arquitectos
				</h1>
			</div>
</div>

<div class="backgroud-wall us" id="nosotros">
	
	<h3 class="c-white"><b>NOSOTROS</b></h3>
	<h2 class="c-amber"><b>Somos Valuadores Inmobiliarios Certificados y Arquitectos</b></h2>

	<p  class="c-white">
			
			Ofrecemos servicios de valuación en todo el país, contamos con experiencia en cualquier tipo de inmueble, abarcando todos los propósitos que requieran los clientes: estimación de valor, avalúos comerciales y avalúos para créditos hipotecarios
			Traslado de dominio, aseguramiento o juicios. <br><br>
			Mediación, comercialización, consultoría, asesoramiento y gestión en transacciones inmobiliarias relacionadas con: compraventa, alquiler, permuta o cesión de bienes inmuebles y de sus derechos correspondientes.<br><br>
			Arquitectura, diseño, construcción y mantenimiento integral de inmuebles.
	</p>

</div>

<div class="wrapper-grid-container-5">
		<p class="t-center">Registro y especialidad en valuación inmobiliaria</p>
	<div class="grid-container-5">
		<div class="padding-20"><img class="cdmx" src="assets/img/1_CDMX.png" alt=""></div>
		<div class="padding-20"><img src="assets/img/2_infonavit.gif" alt=""></div>
		<div class="padding-20"><img class="foviste" src="assets/img/LOGOFOVISSSTE.png" alt=""></div>
		<div class="padding-20"><img class="savac" src="assets/img/4_savac.png" alt=""></div>
	</div>
</div>

<div class="services" id="services">
	<h3 class="c-dark"><b>SERVICIOS</b></h3>
	<!-- <h2 class="c-blue"><b>Negocios inmobiliarios y gestiones</b></h2> -->
	<div class="grid-container content-cards">
			<div class="grid-item padding-20">
					<i class="house"></i>
					<h4><b>Avalúos</b></h4>
					<p>
						Para conocer el valor comercial de su inmueble. <br>
						Para crédito INFONAVIT o FOVISSSTE. <br>
						Para escriturar, fiscal o juicio legal.
					</p>
			</div>
			
			<div class="grid-item padding-20">
					<i class="other"></i>
					<h4><b>Gestiones Inmobiliarias</b></h4>
					<p>
						Mediación en la Compraventa de inmuebles.<br>
						Promoción de tu inmueble
					</p>
			</div>
			<div class="grid-item padding-20">
					<i class="render"></i>
					<h4><b>Arquitectura</b></h4>
					<p>
						Levantamiento topográfico y arquitectónico.<br>
						Diseño y remodelaciones arquitectónicas.
					</p>
			</div>

		
	</div>
	<div class="grid-container content-cards">
			<div class="grid-item">
					<img class="img-card" src="assets/img/DEPTOS_XOCHIMILCO.JPG" alt="">
			</div>
			<div class="grid-item">
					<img class="img-card" src="assets/img/EDIFICIO.jpg" alt="">
			</div>
			<div class="grid-item">
					<img class="img-card" src="assets/img/CASA_XOCHITEPEC_MOR.JPG" alt="">
			</div>
	</div>
</div>

<div class="parallax bg2" id="contacto">
		
		<h3 class="c-dark t-shadow-white map-title"><b>CONTACTO</b></h3>
				<div class="grid-container margin-20">
					<a class="padding-20" href="https://goo.gl/maps/rbJeHJyyvuv" target="_blank">
						<div class="circle"><b>Google Maps</b></div>	
					</a>
					<a class="padding-20" href="https://api.whatsapp.com/send?phone=525529425752&amp;text=%C2%A1Hola!%20Me%20gustar%C3%ADa%20obtener%20m%C3%A1s%20informaci%C3%B3n%20sobre%20alguno%20de%20sus%20servicios." target="_blank">
						<div class="circle"><b>WhatsApp</b></div>	
					</a>
					<a class="padding-20" href="mailto:info@avaluosyarquitectos.com?Subject=%C2%A1Hola!">
						<div class="circle"><b>Correo</b></div>	
					</a>
				</div>
				
				<!-- <h3 class="c-amber t-shadow-white margin-20 margin-top-100"><b>Prolongación Vicente Martínez No. 18, <br/>	 
					San Andrés Totoltepec, Tlalpan, Ciudad de México C.P. 14400.</b></h3> -->
</div>


<footer>
<div class="grid-container-footer">
	<div class="item1">
	</div>
	<div class="item21 c-white">
		<h3>Telefonos</h3>
		<p class="fz-16">
		(55) 2942 5752<br>
		(55) 4850 7071</p>

			
	</div>
	<div class="item22 c-white">
		<h3>Correo Electronico</h3>
		<p class="t-left">
		info@avaluosyarquitectos.com
		</p>

	</div>
	<div class="item23">
			<h3>Domicilio</h3>
			<p class="t-left">
				Prolongación Vicente Martínez No. 18, <br/>	 
				San Andrés Totoltepec, Tlalpan, CDMX C.P. 14400.
			</p>
	</div>
	<div class="item3">Aviso de privacidad. <br>
			Avalúos & Arquitectos. Derechos Reservados.<br>
			2018<br>

			Design & Development by <a href="http://aloux.mx">Alom</a>
		</div>        
</div>
</footer>