<header>
	<i></i>
	<nav>
		<ul>
			<li>NOSOTROS</li>
			<li>SERVICIOS</li>
			<li>CONTACTO</li>
			<li class="phone"><b>
				<a href="tel:5529425752">(55) 2942 5752</a></b></li>          
		</ul>
	</nav>
</header>

<canvas class="background"></canvas>
<div class="parallax bg1">

		<div class="card-home">
				<h1>Avaluos & Arquitectos</h1>
				<!-- <p>
					Avalúos, Gestiones Inmobiliarias & Proyectos Arquitectónicos
				</p> -->
			</div>
</div>

<div class="grid-container content-cards">
		<div class="grid-item">
				<img class="img-card" src="assets/img/recamara.jpg" alt="">
		</div>
		<div class="grid-item">
				<i class="house"></i>
				<p>
						Ofrecemos servicios de valuación en todo el país
						y contamos con experiencia en todo tipo de inmuebles
						y activos, abarcando todos los propósitos que requieren
						los clientes
						<br>
						<br>
						Avalúos para aprovechar crédito
						INFONAVIT o FOVISSSTE
						<br>
						<br>
						Traslado de domino, aseguramiento o juicios
				</p>
		</div>
		<div class="grid-item">
				<img class="img-card" src="assets/img/render.jpg" alt="">
		</div>
		<div class="grid-item">
				<i class="render"></i>
				<p>
						Arquitectura, diseño y contrucción:
						vivienda comercial,industrial, residencial
						<br>
						<br>
						Mantenimiento integral de inmuebles
						Servicios Digitales:
						<br>
						<br>
						Levantamientos, renders, recorridos virtuales
				</p>
		</div>
</div>

<div class="parallax bg2"></div>

<div class="grid-container-footer">
	<div class="item1"> Atencion en linea</div>
	<div class="item21"><input type="text" placeholder="Nombre"></div>
	<div class="item22"><input type="text" placeholder="E-mail"></div>
	<div class="item23"><button onclick="sendMail();">Enviar</button></div>
	<div class="item3">Aviso de privacidad. <br>
			Avalúos & Arquitectos. Derechos Reservados.</div>        
</div>